[user]
	name = Antonin Fischer
    email = antonin.fischer@firma.seznam.cz
    #email = tonda.fischer@gmail.com
[pull]
    rebase = true
[push]
	default = current 
[alias]
    ls-subtrees = !"for i in $(git log | grep git-subtree-dir | sed -e 's/^.*: //g' | sort | uniq); do test -d $i && echo $i; done"
    ci = commit
    st = status
    pus = push
    pul = pull
    a = add
    d = rm
    delete = rm
    del = rm
    co = checkout
    br = branch
    res = reset
    mer = merge
    reb = rebase
    rb = rebase
    pop = stash pop
    sh = stash
    srb = svn rebase
    rbm = rebase master
    rbw = rebase work
    cow = checkout work
    com = checkout master
	lg = log --graph
	fet = fetch
	f = fetch
	difff = diff
	di = diff
	rbom = rebase origin/master
	dsf = "!git diff --color $@ | diff-so-fancy"
[init]
	defaultBranch = main
[credential]
	helper = cache
[merge]
    tool = meld
