[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=conky
Comment=Conky
Exec=~/.config/conky/start_conky ~/.config/conky/MX-CoreBlue/conkyrc2core
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

