[Desktop Entry]
Type=Application
Name[bg]=Известие при аларма от Evolution
Name[ca]=Notificador d'alarmes Evolution
Name[cs]=Evolution Alarm Notify
Name[da]=Påmindelse fra Evolution
Name[de]=Alarmbenachrichtigungen in Evolution
Name[el]=Ειδοποίηση ξυπνητηριού Evolution
Name[en_GB]=Evolution Alarm Notify
Name[es]=Notificador de alertas de Evolution
Name[eu]=Evolution-en alarma jakinarazpena
Name[fr]=Notification d’alarme Evolution
Name[fur]=Notifiche di alarme di Evolution
Name[gl]=Notificación de alarma de Evolution
Name[he]=התרעות תזכורות Evolution
Name[hr]=Evolution alarm obavijesti
Name[hu]=Evolution riasztásértesítő
Name[id]=Pemberitahuan Alarm Evolution
Name[it]=Notifica allarmi Evolution
Name[ko]=에볼루션 알림 알리기
Name[lt]=Evolution žadintuvo priminimas
Name[lv]=Evolution signāla paziņojums
Name[ms]=Makluman Penggera Evolution
Name[nb]=Evolution alarmvarsel
Name[nl]=Evolution-herinneringsmelding
Name[oc]=Notificacion d’alarma Evolution
Name[pl]=Powiadamianie o alarmach programu Evolution
Name[pt]=Alarmes de notificação do Evolution
Name[pt_BR]=Notificação de alarme do Evolution
Name[ro]=Notificare pentru alarmă Evolution
Name[ru]=Уведомление о сигнале Evolution
Name[sl]=Obvestilo o alarmu Evolution
Name[sr]=Обавештење аларма Еволуције
Name[sv]=Evolutions alarmavisering
Name[tr]=Evolution Alarm Bildirimi
Name[uk]=Сповіщення сигналами у Evolution
Name[zh_CN]=Evolution 闹钟通知
Name[zh_TW]=Evolution 響鈴通知
Name=Evolution Alarm Notify
Comment[bg]=Уведомления за събития за календара
Comment[ca]=Sol·licitud d'esdeveniment del calendari
Comment[cs]=Upozornění na události v kalendáři
Comment[da]=Påmindelse om begivenheder i kalender
Comment[de]=Benachrichtigungen für Kalendertermine
Comment[el]=Ειδοποιήσεις συμβάντος ημερολογίου
Comment[en_GB]=Calendar event notifications
Comment[es]=Notificaciones de eventos del calendario
Comment[eu]=Egutegi-gertaeren jakinarazpenak
Comment[fi]=Kalenteritapahtuman muistutukset
Comment[fr]=Notifications d’événements dans l’agenda
Comment[fur]=Notifichis events dal calendari
Comment[gl]=Notificacións de eventos de calendario
Comment[he]=התרעות על אירועים ביומן
Comment[hr]=Obavijest kalendarskog događaja
Comment[hu]=Naptáresemény-értesítések
Comment[id]=Notifikasi acara kalender
Comment[it]=Notifiche degli eventi di calendario
Comment[ko]=달력 행사 알림
Comment[lt]=Kalendoriaus įvykių priminimai
Comment[lv]=Kalendāra notikuma paziņojumi
Comment[ms]=Pemberitahuan peristiwa kalendar
Comment[nb]=Varsling for kalenderhendelse
Comment[nl]=Meldingen van agenda-afspraken
Comment[oc]=Notificacions d’eveniments d’agenda
Comment[pl]=Powiadomienia o wydarzeniach z kalendarza
Comment[pt]=Notificações de eventos do calendário
Comment[pt_BR]=Notificações de evento de agenda
Comment[ro]=Notificări de evenimente din Calendar
Comment[ru]=Уведомления о событиях календаря
Comment[sl]=Obvestila o dogodkih koledarja
Comment[sr]=Обавештења о догађајима календара
Comment[sv]=Evenemangsaviseringar för kalender
Comment[tr]=Takvim olayı bildirimleri
Comment[uk]=Сповіщення щодо подій календаря
Comment[zh_CN]=日历事件通知
Comment[zh_TW]=行事曆活動通知
Comment=Calendar event notifications
Icon=appointment-soon
Exec=/usr/lib/evolution-data-server/evolution-alarm-notify
Terminal=false
Categories=
NoDisplay=true
X-Meego-Priority=Low
X-GNOME-UsesNotifications=true
OnlyShowIn=KDE;GNOME