[Desktop Entry]
Name=Parcellite
Name[ca]=Parcellite
Name[cs]=Parcellite
Name[da]=Parcellite
Name[de]=Parcellite
Name[hu]=Parcellite
Name[it]=Parcellite
Name[ja]=Parcellite
Name[nb]=Parcellite
Name[pl]=Parcellite
Name[pl_PL]=Parcellite
Name[ro]=Parcellite
Name[sv]=Parcellite
Name[zh_CN]=Parcellite
Comment=Clipboard Manager
Comment[ca]=Gestor del porta-retalls
Comment[cs]=Správce schránky
Comment[da]=Udklipsholder
Comment[de]=Verwaltung der Zwischenablage
Comment[el]=Διαχειριστής Πρόχειρου
Comment[es]=Gestor del portapapeles
Comment[fr]=Gestionnaire de presse-papier
Comment[hu]=Vágólapkezelő
Comment[it]=Gestore degli appunti
Comment[ja]=クリップボード・マネージャ
Comment[nb]=Utklippstavleverkty
Comment[pl]=Schowek
Comment[pl_PL]=Menadżer schowka
Comment[pt_BR]=Gerenciador da Área de Transferência
Comment[ro]=Administrator clipboard
Comment[ru]=Менеджер буфера обмена
Comment[sv]=Urklippshanterare
Comment[tr]=Pano Yöneticisi
Comment[zh_CN]=剪切板管理器
Comment[zh_TW]=剪貼簿管理器
Icon=parcellite
Exec=start_process parcellite
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
