[Desktop Entry]
Name=picom
Exec=start_process picom --config /home/box/.config/picom/picom.conf
Comment=a compositor for X11
Type=Application
OnlyShowIn=Awesome;
