[Desktop Entry]
Type=Application
Name[bg]=Демон за уведомленията на Xfce
Name[ca]=Dimoni de notificacions de l'Xfce
Name[da]=Xfce Underretningsdæmon
Name[de]=Xfce Benachrichtigungsdienst
Name[el]=Υπηρεσία ειδοποίσεων του Xfce
Name[en_GB]=Xfce Notification Daemon
Name[es]=Servicio de notificaciones de Xfce
Name[et]=Xfce teadete taustaprogramm
Name[fr]=Démon de notification Xfce
Name[he]=דמון הודעות Xfce 
Name[it]=Demone di notifica di Xfce
Name[ja]=Xfce 通知デーモン
Name[ko]=Xfce 알림 데몬
Name[lt]=Xfce pranešimų tarnyba
Name[nb]=Xfce-varslingsnisse
Name[nl]=Xfce-meldingsdienst
Name[pl]=Demon powiadomień Xfce
Name[pt_BR]=Daemon de notificação Xfce
Name[pt]=Daemon de notificação Xfce
Name[ru]=Демон уведомлений Xfce
Name[sl]=Xfce pritajeni program za obvestila
Name[sq]=Demon Njoftimesh Xfce
Name[sr]=Домар обавештења ИксФЦЕ-а
Name[sv]=Xfce aviseringsdemon
Name[tr]=Xfce Bildirim Arka Plan Programı
Name[uk]=Демон сповіщень Xfce
Name[zh_CN]=Xfce 通知守护进程
Name[zh_TW]=Xfce 通知常駐程式
Name=Xfce Notification Daemon
Exec=sh -c "systemctl --user start xfce4-notifyd.service 2>/dev/null || exec /usr/lib/xfce4/notifyd/xfce4-notifyd"
Icon=org.xfce.notification
OnlyShowIn=XFCE;
