[Desktop Entry]
Name=Power Manager
Name[ar]=مدير طاقة
Name[ast]=Xestor d'enerxía
Name[be]=Кіраўнік сілкавання
Name[bg]=Управление на захранването
Name[ca]=Gestor d'energia
Name[cs]=Správce napájení
Name[da]=Strømstyring
Name[de]=Energieverwaltung
Name[el]=Διαχειριστής ρεύματος
Name[en_AU]=Power Manager
Name[en_CA]=Power Manager
Name[en_GB]=Power Manager
Name[es]=Gestor de energía
Name[et]=Vooluhaldur
Name[eu]=Energia kudeatzailea
Name[fi]=Virranhallinta
Name[fr]=Gestionnaire d’alimentation
Name[gl]=Xestor de enerxía
Name[he]=מנהל צריכת חשמל
Name[hr]=Upravitelj energijom
Name[hu]=Energiakezelő
Name[hy_AM]=Լիցք
Name[hye]=Լիցք
Name[id]=Manajer Daya
Name[ie]=Gerente de energie
Name[is]=Aflstjórnun
Name[it]=Gestore dell'energia
Name[ja]=電源管理
Name[kk]=Электр қоректендіру басқарушысы
Name[kn]=ಪವರ್ ಮ್ಯಾನೇಜರ್
Name[ko]=전원 관리자
Name[lt]=Maitinimo tvarkytuvė
Name[ms]=Pengurus Kuasa
Name[nb]=Strømstyring
Name[nl]=Energiebeheerder
Name[nn]=Straumstyring
Name[oc]=Gestionari d'alimentacion
Name[pa]=ਪਾਵਰ ਮੈਨੇਜਰ
Name[pl]=Menedżer zasilania
Name[pt]=Gestor de energia
Name[pt_BR]=Gerenciador de Energia
Name[ro]=Manager de consum
Name[ru]=Менеджер питания
Name[si]=ශක්ති කළමනාකාරකය
Name[sk]=Správca napájania
Name[sl]=Upravljalnik porabe energije
Name[sq]=Përgjegjës Energjie
Name[sr]=Управник потрошње
Name[sv]=Strömhanterare
Name[te]=విద్యుత్ నిర్వాహకం
Name[th]=ระบบจัดการพลังงาน
Name[tr]=Güç Yöneticisi
Name[ug]=مەنبە باشقۇرغۇ
Name[uk]=Менеджер живлення
Name[ur]=توانائی منیجر
Name[ur_PK]=توانائی منیجر
Name[vi]=Trình quản lý năng lượng
Name[zh_CN]=电源管理器
Name[zh_HK]=電力管理員
Name[zh_TW]=電源管理員
Comment=Power management for the Xfce desktop
Comment[ar]=مدير الطاقة لسطح مكتب إكسفس
Comment[ast]=Alministrador d'enerxía pal escritoriu Xfce
Comment[be]=Кіраванне сілкаваннем у працоўным асяроддзі Xfce
Comment[bg]=Управление на захранването за Xfce среда
Comment[ca]=Gestor d'energia per l'escriptori Xfce
Comment[cs]=Správa napájení pro prostředí Xfce
Comment[da]=Strømstyring til Xfce-skrivebordsmiljøet
Comment[de]=Energieverwaltung für die Xfce-Arbeitsumgebung
Comment[el]=Διαχείριση ρεύματος για την επιφάνεια εργασίας του xfce
Comment[en_AU]=Power management for the Xfce desktop
Comment[en_CA]=Power management for the Xfce desktop
Comment[en_GB]=Power management for the Xfce desktop
Comment[es]=Gestor de energía para el escritorio Xfce
Comment[et]=Xfce töölaua vooluhaldur
Comment[eu]=Xfce mahaigain inguruneko energia kudeatzailea
Comment[fi]=Xfce-työpöydän virrankäytön hallinta
Comment[fr]=Gestion d’alimentation pour l’environnement de bureau Xfce
Comment[gl]=Xestión de enerxía para o escritorio Xfce
Comment[he]=ניהול צריכת חשמל עבור שולחן עבודה Xfce
Comment[hr]=Upravljanje energijom za Xfce radno okruženje
Comment[hu]=Energiagazdálkodás az Xfce környezethez
Comment[hy_AM]=Xfce աշխատասեղանի լիցքի կառավարիչ
Comment[hye]=Xfce աշխատասեղանի լիցքի կառավարիչ
Comment[id]=Manajemen daya untuk desktop Xfce
Comment[ie]=Gerentie de energie por li ambientie Xfce
Comment[is]=Orkustýring fyrir XFCE-skjáborðsumhverfið
Comment[it]=Gestione dell'energia per l'ambiente Xfce
Comment[ja]=Xfce デスクトップ用電源管理
Comment[kk]=Xfce жұмыс үстел ортасы үшін эл. қорегін басқару
Comment[kn]=Xfce ಡೆಸ್ಕ್ಟಾಪ್ಗಾಗಿ ಪವರ್ ನಿರ್ವಹಣೆ
Comment[ko]=Xfce 데스크톱의 전원 관리자
Comment[lt]=Xfce darbalaukio maitinimo tvarkytuvė
Comment[ms]=Pengurusan kuasa untuk desktop Xfce
Comment[nb]=Strømstyring for Xfce-skrivebordsmiljøet
Comment[nl]=Energiebeheer voor de Xfce-werkomgeving
Comment[nn]=Straumstyring for Xfce-skrivebordet
Comment[oc]=Gestion d'alimentacion per l'environament de burèu Xfce
Comment[pa]=Xfce ਡੈਸਕਟਾਪ ਲਈ ਪਾਵਰ ਮੈਨੇਜਰ
Comment[pl]=Zarządza zasilaniem w środowisku Xfce
Comment[pt]=Gestão de energia para o Xfce
Comment[pt_BR]=Gerenciamento de energia para o Xfce desktop
Comment[ro]=Management de consum pentru desktopul Xfce
Comment[ru]=Управление питанием для окружения рабочего стола Xfce 
Comment[si]= Xfce desktop සඳහා ශක්ති කළමණාකාරකය
Comment[sk]=Správa napájania pre prostredie Xfce
Comment[sl]=Upravljalnik porabe energije za namizje Xfce
Comment[sq]=Administrim energjie për desktopin Xfce
Comment[sr]=Управник потрошње за ИксФЦЕ радно окружење
Comment[sv]=Strömhanterare för Xfce-skrivbordet
Comment[te]=Xfce డెస్క్‌టాప్ కొరకు విద్యుత్ నిర్వాహణ
Comment[th]=การจัดการพลังงานสำหรับเดสก์ท็อป Xfce
Comment[tr]=Xfce masaüstü için güç yönetimi
Comment[ug]=Xfce ئۈستەلئۈستىنىڭ مەنبە باشقۇرغۇ پروگراممىسى
Comment[uk]=Менеджер живлення для робочого столу Xfce
Comment[ur]=توانائی منیجر پرائے ایکسفس ڈیسک ٹاپ
Comment[ur_PK]=توانائی منیجر پرائے ایکسفس ڈیسک ٹاپ
Comment[vi]=Quản lý năng lượng cho môi trường Xfce
Comment[zh_CN]=Xfce 桌面的电源管理
Comment[zh_HK]=Xfce 桌面的電力管理
Comment[zh_TW]=Xfce 桌面的電源管理
Icon=org.xfce.powermanager
Exec=xfce4-power-manager
Terminal=false
Type=Application
NotShowIn=GNOME;KDE;Unity;MATE;LXQt;Awesome
StartupNotify=false
