.syntax--source.syntax--php {

  .syntax--source.syntax--php .syntax--storage.syntax--type.syntax--class.syntax--php{
    color: @hue-3;
  }

  .syntax--source.syntax--php .syntax--support.syntax--class.syntax--php{
    color: @hue-6-2;
  }

  .syntax--support.syntax--other.syntax--namespace.syntax--php{
    color: @hue-6-2;
  }

  .syntax--keyword.syntax--other.syntax--type.syntax--php{
    color: @hue-6-2;
  }

  .syntax--punctuation.syntax--definition.syntax--class.syntax--end.syntax--bracket.syntax--curly.syntax--php{
    color: @mono-1;
  }

  .syntax--keyword.syntax--operator.syntax--heredoc.syntax--php{
    color: @hue-3;
  }

  .syntax--class .syntax--keyword.syntax--other.syntax--use.syntax--php + .syntax--support.syntax--class.syntax--php{
    color: @mono-1;
  }

  .syntax--meta.syntax--function.syntax--parameter.syntax--array.syntax--php .syntax--storage.syntax--type.syntax--php{
    color: @hue-6-2;
  }

  .syntax--meta.syntax--function.syntax--parameter.syntax--typehinted.syntax--php .syntax--storage.syntax--type.syntax--php{
    color: @hue-6-2;
  }

  .syntax--keyword.syntax--operator.syntax--assignment.syntax--php + .syntax--support.syntax--class.syntax--php{
    color: @mono-2;
  }

}

.syntax--text.syntax--html.syntax--php{

  .syntax--entity.syntax--name.syntax--tag.syntax--inline.syntax--any.syntax--html{
    color: @hue-6;
  }

  .syntax--punctuation.syntax--definition.syntax--tag.syntax--begin.syntax--html{
    color: @hue-1;
  }

  .syntax--punctuation.syntax--definition.syntax--tag.syntax--end.syntax--html{
    color: @hue-1;
  }

}
