[General]
Show_Title=false
Show_Labels=true
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
str_fontsize=medium
val_fontsize=2
Font=Sans 11
Lines_Size=3
Cover_All_Panel_Rows=false
Update_Interval=60
Exec_Command=true
Show_Units=true
Small_Spacings=false
Command_Name=xfce4-sensors
Number_Chips=6
Suppress_Hddtemp_Message=false
Suppress_Tooltip=false
Preferred_Width=0
Preferred_Height=0
Tachos_ColorValue=0.80
Tachos_Alpha=0.80

[Chip0]
Name=iwlwifi_1-0
Number=0

[Chip1]
Name=nvme-100
Number=1

[Chip2]
Name=acpitz-0
Number=2

[Chip3]
Name=k10temp-c3
Number=3

[Chip3_Feature1]
Address=1
Name=Tdie
Color=#83f27a
Show=true
Min=30.00
Max=99.00

[Chip4]
Name=nvme-400
Number=4

[Chip5]
Name=ACPI
Number=5

