[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Ultimate Edition Docker
Icon=/home/box/src/ide/idea-latest/bin/idea.svg
Exec=/home/box/src/devenv/devenv-focal/docker-run.sh devenv-focal /home/box/src/ide/idea-latest/bin/idea.sh %f
Comment=Capable and Ergonomic IDE for JVM
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
StartupNotify=true
